/.nuget
/.vs
/artifacts
/packages
[Oo]bj
[Bb]in

*.*proj.user
*.[Cc]ache
*.[Dd]ot[Ss]ettings.*
*.diff
*.lock.json
*.ncb
*.nuget.targets
*.orig
*.received.txt
*.suo
*[Rr][Ee][Ss][Hh][Aa][Rr][Pp][Ee][Rr]*
/src/VersionInfo.cs
Thumbs.db
/tools/NuGet.exe
