.vs
[Oo]bj
[Bb]in
artifacts
packages

*.*proj.user
*.[Cc]ache
*.[Dd]ot[Ss]ettings.*
*.diff
*.lock.json
*.ncb
*.nuget.targets
*.orig
*.received.txt
*.suo
*[Rr][Ee][Ss][Hh][Aa][Rr][Pp][Ee][Rr]*
.nuget/[Nn]u[Gg]et.exe
Thumbs.db
