version: '{build}'

image: Visual Studio 2017

branches:
    only:
        - master
        - /[0-9]+\.[0-9]+\.[0-9]+(-.+)?/

pull_requests:
    do_not_increment_build_number: true

environment:
    BUILD: $(APPVEYOR_BUILD_NUMBER)

build_script:
    - ps: ./build.ps1

nuget:
    disable_publish_on_pr: true

test: off

artifacts:
    - path: .\artifacts\*\*

deploy:
    - provider: NuGet
      api_key:
          secure: ojWgftNTmVJqq946Cb7R7Xy8a8aT+1Q6DuLcAWPqlCXI9OV/UUckFsyZ8/HcNCeZ
      skip_symbols: true
      on:
          appveyor_repo_tag: true
