<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SelfInitializingFakes" Description="Rule set for all SelfInitializingFakes projects" ToolsVersion="15.0">
    <Include Path="..\SelfInitializingFakes.ruleset" Action="Default" />
    <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
        <Rule Id="SA0001" Action="None" /> <!-- XML comment analysis is disabled due to project configuration -->
        <Rule Id="SA1600" Action="None" /> <!-- Elements should be documented -->
    </Rules>
</RuleSet>
